@charset "utf-8";
/* CSS Document */
input,textarea{margin:0;padding:0;border:none; outline:none;}
textarea{ resize:none; overflow:auto;}
em{ font-style:normal;}
ul{margin:0;padding:0; list-style:none;}
h1,p,h2{margin:0; font-weight:normal;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border:none; vertical-align:top;}
body{margin:0;position:relative; font-family:Arial,"微软雅黑";color:#666; font-size:26px; }

.page{position:absolute; left:0;top:0;width:100%;height:100%; overflow:auto; background-color:#fff; display:none; z-index:1;}
.pageShow{ display:block;}
.page:nth-of-type(1){ z-index:10;}
.page:nth-of-type(2){ z-index:9;}
.page:nth-of-type(3){ z-index:8;}
.page:nth-of-type(4){ z-index:7;}
.page:nth-of-type(5){ z-index:6;}


/*欢迎页*/
#welcome{ -webkit-transition:.7s;}
@-webkit-keyframes tree{
	100%{
		-webkit-transform:translateY(0);
		opacity:1;
	}
}
@keyframes tree{
	100%{
		transform:translateY(0);
		opacity:1;
	}
}
@-webkit-keyframes logo{
	100%{
		opacity:1;
	}
}
@-webkit-keyframes shake
{
	0%
	{
		-webkit-transform:rotate(-50deg);
	}
	10%
	{
		-webkit-transform:rotate(45deg);
	}
	20%
	{
		-webkit-transform:rotate(-40deg);
	}
	30%
	{
		-webkit-transform:rotate(35deg);
	}
	40%
	{
		-webkit-transform:rotate(-30deg);
	}
	50%
	{
		-webkit-transform:rotate(25deg);
	}
	60%
	{
		-webkit-transform:rotate(-20deg);
	}
	70%
	{
		-webkit-transform:rotate(15deg);
	}
	80%
	{
		-webkit-transform:rotate(-10deg);
	}
	90%
	{
		-webkit-transform:rotate(5deg);
	}
	100%
	{
		-webkit-transform:rotate(0deg);
	}
}
@-webkit-keyframes cloud
{
	0%
	{
		-webkit-transform:translateX(0px);
	}
	100%
	{
		-webkit-transform:translateX(-50px);
	}
	
}
.tree{ position:absolute; left:0; top:10%; width:100%; -webkit-transform:translateY(100px);transform:translateY(100px); opacity:0;-webkit-animation:1s tree; animation:1s tree; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;/*到达目标点停止*/}
#logo{ text-align:center; width:100%; position:absolute; bottom:5%; opacity:0; -webkit-animation:1s .5s logo; -webkit-animation-fill-mode:forwards;}
.welcome2{ position:relative; padding-top:50px; ;transform:translateY(50px); opacity:0; -webkit-transform-origin:left bottom; -webkit-animation:1s .3s tree; animation-fill-mode:forwards; }
.shake{ position:absolute; top:12px; left:509px; width:28px;height:31px; background:url(../img/shake.png) no-repeat; -webkit-animation:2s .3s shake; -webkit-animation-fill-mode:forwards;}
.tree3{padding-top:20px; transform:translateY(30px); opacity:0; animation:1s .6s tree; animation-fill-mode:forwards; }
.cloud{position:absolute; background:url(../img/cloud.png) no-repeat; background-size:contain;}
.cloud:nth-of-type(1){ top:15px; left:423px; width:58px; height:44px; -webkit-animation:3s 2s cloud infinite alternate linear;}
.cloud:nth-of-type(2){ top:77px; left:79px; width:91px; height:70px; -webkit-animation:3s 2.5s cloud infinite alternate linear;}
.cloud:nth-of-type(3){ top:142px; left:402px; width:54px; height:41px; -webkit-animation:3s 2.8s cloud infinite alternate linear;}

/*首页*/
#tabPic{ overflow:hidden; position:relative;}
#picList{ overflow:hidden;width:500%;}
#picList li{float:left; width:20%;}
#picList img{ width:100%; height:342px;}
.picMask{height:102px; position:absolute;left:0;bottom:0;width:100%; background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0));background:linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 20%,rgba(0,0,0,0));}
.picMask p{ font-size:29px; line-height:120px; text-indent:26px; color:#fff;}
.picMask nav{height:10px; right:26px; top:56px; position:absolute;}
.picMask nav a{float:left;width:10px;height:10px; border-radius:5px;background:#fff; opacity:0.5;margin-left:15px;}
.picMask nav a.active{ opacity:1;}

#score{line-height:60px;padding:17px 0 22px 26px; border-bottom:1px solid #e5e5e5;}
#score h2{ font-size:28px;}
.scoreList li{ height:60px; position:relative;}
.scoreList nav{ position:absolute; left:187px;top:12px;}
.scoreList nav a{ float:left; background:url(../img/star.png) no-repeat -38px 0; width:38px; height:36px; margin-right:39px;}
.scoreList nav .active{ background-position:0 0;}
/* news */

/* form */
